body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.Heading{
    text-align: center;
    margin-right: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gallery-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
   
}

.gallery {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery-image {
    min-width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 600px){
    .gallery-container {
        width: 80%;
        max-width: 400px;
    }
    .Heading{
        text-align: center;
        font-size: 20px;
    }
}